html {
  height: 100%;
}

body {
  background-color: #111111;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvasHolder {
  position: absolute;
  left: 50%;
  top: 50%;
}

.canvas {
  position: absolute;
}

.gui {
  font-family: "Arial", sans-serif;
  z-index: 200;
  position: absolute;
  left: 20px;
  top: 20px;
}

.menu {
  font-size: 12px;
  user-select: none;
}

.row {
  height: 20px;
  margin-bottom: 1px;
}

.title {
  display: block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  float: left;
}

.button {
  display: block;
  height: 20px;
  line-height: 20px;
  padding-left: 6px;
  margin-left: 1px;
  float: left;
  text-decoration: none;
}

.buttonNarrow {
  width: 37px;
}

.buttonStandard {
  width: 81px;
}

.buttonWide {
  width: 169px;
}

.buttonOn {
  background: #666666;
  cursor: auto;
}

.buttonOff {
  background: #161616;
  cursor: pointer;
}

.buttonOff:hover {
  color: #000;
  background: #fff;
}

.status {
  width: 100%;
  color: #666;
  user-select: text;
}

.noSelect {
  user-select: none;
}
