html {
  height: 100%;
}

body {
  background-color: #111111;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.canvasHolder {
  position: absolute;
  left: 50%;
  top: 50%;
}

.canvas {
  position: absolute;
}

.guipagetitle {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding-left: 4px;
  padding-bottom: 10px;
  display: block;
}

.gui {
  z-index: 200;
  position: absolute;
  left: 12px;
  top: 14px;
}

.guimenu {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  width: 100px;
}

.guimenutitle {
  display: block;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  margin-top: 1px;
}

.guimenubutton {
  display: block;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  margin-top: 1px;

  color: #ffffff;
  background: #666666;

  text-decoration: none;
  cursor: pointer;
}

.guimenubutton:link,
.guimenubutton:visited,
.guimenubutton:active {
  text-decoration: none;
}

.guimenubutton:hover {
  text-decoration: none;
  cursor: pointer;

  color: #666666;
  background: #ffffff;
}
